{
  "presets": [
    "react",
    "stage-2",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "dynamic-import-webpack",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-do-expressions",
    "babel-plugin-transform-async-to-generator",
    "babel-plugin-transform-runtime",
    "babel-plugin-transform-regenerator",
    "babel-plugin-syntax-async-functions"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "server": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
