<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.style %>
</head>

<body>
  <%= htmlWebpackPlugin.options.body %>
  <%= htmlWebpackPlugin.options.rehydrateCss %>
  <%= htmlWebpackPlugin.options.initialState %>
  <%= htmlWebpackPlugin.options.manifestChunk %>
  <%= htmlWebpackPlugin.options.vendorsChunk %>
  <%= htmlWebpackPlugin.options.bundles %>
  <%= htmlWebpackPlugin.options.mainChunk %>
</body>

</html>
